<div>
  <h3>TIME LEFT: {{timeLeft}}</h3>
  <h3>SCORE: {{score}}</h3>
</div>

<div class="play-area-container">
  <div class="top">
    <div class="box">
      <app-play-box1 [color]="c1" (click)="onClick(c1)"></app-play-box1>
    </div>
    <div class="box">
      <app-play-box2 [color]="c2" (click)="onClick(c2)"></app-play-box2>
    </div>
  </div>
  <div class="bot">
    <div class="box">
      <app-play-box3 [color]="c3" (click)="onClick(c3)"></app-play-box3>
    </div>
    <div class="box">
      <app-play-box4 [color]="c4" (click)="onClick(c4)"></app-play-box4>
    </div>
  </div>
</div>


